@{
    ViewBag.Title = "";
}
@if (Session["GOALBAL_ID"] != null)
{
    <style>
        .table th, td {
            color: black;
        }

        table.center-all td, th {
            text-align: center;
        }

        td.highlight_max_issue_target {
            background-color: red;
            font-weight: bold;
            color: white;
        }
    </style>
    <input type="hidden" value="@Session["GOALBAL_ID"].ToString()" id="temp_user" />

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center border-bottom mt-3">
        <h5 class="mr-2"> Adjust End of Month (ASSY)</h5>
        <div class="input-group mb-3">
            <label class="input-group-text">Select CAT TYPE</label>
            <select class="form-select" id="fillter_cat_type">
                <option value="">Choose...</option>
                <option value="DIRECT MATERIAL">DIRECT MATERIAL</option>
                <option value="INDIRECT MATERIAL">INDIRECT MATERIAL</option>
                <option value="WASTING MATERIAL">WASTING MATERIAL</option>

            </select>
        </div>
        <button class="btn btn-sm btn-danger mr-2" id="confirm_adjust_assyy"><i class="ms-Icon ms-Icon--SaveAll"> SNAP</i></button>
        <button class="btn btn-sm btn-success  mr-2" id="export_snap_assy"><i class="ms-Icon ms-Icon--ExcelLogo">  EXPORT SNAP</i></button>
    </div>

    <div class="table-responsive mt-2">
        <table class="table table-hover table-bordered mb-0" id="inline_assy_adjust">
            <thead>
                <tr>
                    <th scope="col" style="background-color:royalblue;color:white;">CAT TYPE</th>
                    <th scope="col" style="background-color:royalblue;color:white;">MATERIAL GROUP</th>
                    @*<th scope="col" style="background-color:royalblue;color:white;">MATERIAL CODE</th>*@
                    <th scope="col" style="background-color:royalblue;color:white;">ITEM NUMBER</th>
                    <th scope="col" style="background-color:royalblue;color:white;">MATERIAL NAME</th>
                    <th scope="col" style="background-color:royalblue;color:white;">REMAIN INLINE</th>
                    <th scope="col" style="background-color:royalblue;color:white;">PROBLEM</th>
                    <th scope="col" style="background-color:royalblue;color:white;">UNIT INLINE</th>
                    <th scope="col" style="background-color:royalblue;color:white;">COMMENT</th>
                    <th scope="col" style="background-color:royalblue;color:white;">UPDATE DATE</th>
                    <th scope="col" style="background-color:royalblue;color:white;">TOOLS</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script>
        function commaSeparateNumber(val) {
            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }
            return val;
        }
        var temp_user = $('#temp_user').val();
        $(document).ready(function () {
            Create_table_adjust_assy();
            var table = $('#inline_assy_adjust').DataTable();

            function Create_table_adjust_assy() {
                $('#inline_assy_adjust').DataTable({
                    "destroy": true,
                    "searching": true,
                    "lengthChange": false,
                    "paging": false,
                    "bInfo": false,
                    "stateSave": false,
                    "scrollY": '70vh',
                    "scrollCollapse": true,
                    "lengthChange": false,
                    "responsive": true,
                    "ajax": {
                        "type": "POST",
                        "url": "/Material/InlineStock/Managements/ajax_get_managements_adjust_actual_assy",
                        //"url": "/InlineStock/ajax_get_managements_adjust_actual_assy",
                        "datatype": "json"
                    },

                    //createdRow: function (node, data) {
                    //    if (data.hasOwnProperty('ISSUE_WH')) {


                    //    }
                    //},
                    columnDefs: [
                        {
                            targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], className: 'text-center'
                        },
                        {
                            targets: [4], render: $.fn.dataTable.render.number(',')
                        },
                    ],
                    "columns": [
                        { data: "CAT_TYPE", "name": "CAT_TYPE", "autoWidth": true },
                        { data: "MATGROUP", "name": "MATGROUP", "autoWidth": true },
                        //{ data: "MATCODE", "name": "MATCODE", "autoWidth": true },
                        { data: "ITEM_NUMBER", "name": "ITEM_NUMBER", "autoWidth": true },
                        { data: "MATNAME", "name": "MATNAME", "autoWidth": true },
                        //{ data: "COST_CENTER", "name": "COST_CENTER", "autoWidth": true },
                        { data: "REMAIN_INLINE", "name": "REMAIN_INLINE", "autoWidth": true },
                        { data: "REMAIN_INLINE_PROBLEM", "name": "REMAIN_INLINE_PROBLEM", "autoWidth": true },
                        { data: "UNIT", "name": "UNIT", "autoWidth": true },
                        { data: "COMMENT_AJDSUST_EOMONTH", "name": "COMMENT_AJDSUST_EOMONTH", "autoWidth": true },
                        {
                            data: "COMMENT_UPDATE_DATE",
                            "render": function (value) {
                                if (value === null) return "";
                                return moment(value).format('YYYY-MM-DD HH:mm:ss');
                            }
                        },
                        {
                            "render": function (data, type, Me, meta) {
                                return '<button  type="button" class="btn btn-sm-custom btn-sm btn-outline-danger edit_adjust_junb" aria-hidden="true" " data-toggle="modal" data-target="#myModal_adjust_assy" ' +
                                    'data-biz ="' + Me.BIZ_NAME + '" data-process = "' + Me.PROCESS + '" data-matcode ="' + Me.MATCODE + '" data-partcode="' + Me.ITEM_NUMBER + '" data-matname = "' + Me.MATNAME + '" ' +
                                    'data-matgroup ="' + Me.MATGROUP + '" data-cc ="' + Me.COST_CENTER + '" data-fmat ="' + Me.FLAG_MAT + '" data-stockwh = "' + Me.STOCK_WH + '" data-issue ="' + Me.ISSUE_WH + '"data-issue_target ="' + Me.ISSUE_TARGET + '"   data-balance ="' + Me.ISSUE_BALANCE + '" data-usage ="' + Me.USAGE + '" ' +
                                    'data-comment ="' + Me.COMMENT_AJDSUST_EOMONTH + '" data-problem = "' + Me.REMAIN_INLINE_PROBLEM + '" data-remain ="' + Me.REMAIN_INLINE + '" data-upby = "' + Me.UPDATE_BY + '" data-unit="' + Me.UNIT + '"  data-purpose = "' + Me.PURPOSE_DETAIL + '">ADJUST</button >';
                            }
                        },
                    ], // end columns
                    order: [[0, "DESC"]],
                });
            }

            // Edit Modal
            $(document).on("click", ".edit_adjust_junb", function () {
                // Declare Variable for Edit data
                var get_partcode = $(this).data('partcode');
                var get_matname = $(this).data('matname');
                var get_cc = $(this).data('cc');
                var get_remain = $(this).data('remain');
                var get_remain_problem = $(this).data('problem');
                var get_matcode = $(this).data('matcode');
                var get_unit = $(this).data('unit');
                var get_fmat = $(this).data('fmat');
                var get_comment = $(this).data('comment');

                // Get Jquery for Edit data
                $(".modal-body #matname").val(get_matname);
                $(".modal-body #cc").val(get_cc);
                $(".modal-body #remain_inline").val(commaSeparateNumber(get_remain));
                $(".modal-body #problem").val(commaSeparateNumber(get_remain_problem));
                $(".modal-body #unit").html(get_unit);
                // Hidden Value
                $(".modal-body #matcode").val(get_matcode);
                $(".modal-body #partcode").val(get_partcode);
                $(".modal-body #fmat").val(get_fmat);
                $(".modal-body #comment").HTML(get_comment);

                $('#remain_inline').keyup(function (event) {
                    // skip for arrow keys
                    if (event.which >= 37 && event.which <= 40) return;
                    // format number
                    $(this).val(function (index, value) {
                        return value
                            .replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                            ;
                    });
                });
            });//END data into modal

            $('#save_adjust_assy').click(function () {
                var temp_cc = '';
                if ($("#cc").val() == '') {
                    temp_cc = ' ';
                } else {
                    temp_cc = $("#cc").val();
                }

                var temp_comment = '';
                if ($("#comment").val() == '') {
                    temp_comment = ' ';
                } else {
                    temp_comment = $("#comment").val();
                }

                var cleanNumber_remain_inlne = $("#remain_inline").val().split(",").join("");
                var cleanNumber_remain_inlne_problem = $("#problem").val().split(",").join("");

                var edit_value = {
                    "MATCODE": $("#matcode").val(),
                    "ITEM_NUMBER": $("#partcode").val(),
                    "COST_CENTER": temp_cc,
                    "REMAIN_INLINE": cleanNumber_remain_inlne,
                    "REMAIN_INLINE_PROBLEM": cleanNumber_remain_inlne_problem,
                    "FLAG_MAT": $("#fmat").val(),
                    "UPDATE_BY": temp_user,
                    "COMMENT_AJDSUST_EOMONTH": temp_comment,
                }
                console.log(edit_value);
                $.ajax({
                    type: "POST",
                    url: "/Material/InlineStock/Managements/update_adjust_end_month_assy",
                    //url: "/Managements/update_adjust_end_month_assy",
                    data: { edit_value: edit_value },
                    datatype: "json",
                    success: function (data) {
                        setInterval(function () {
                            scrollPos = $(".dataTables_scrollBody").scrollTop();
                            table.ajax.reload(function () {
                                $(".dataTables_scrollBody").scrollTop(scrollPos);
                            }, false);
                        }, 1000);
                        $('#myModal_adjust_assy').modal('hide');
                        swal({
                            title: "Record success!",
                            text: "You record of the information success!",
                            icon: "success",
                            button: "OK!",
                        });
                    },
                    error: function (request, status, error) {
                        $('#myModal_adjust_assy').modal('hide');
                        swal({
                            title: "Fail Record!",
                            text: "Please check the correct of the information.!",
                            icon: "error",
                            button: "OK",
                        });
                    }
                })
            });

            $('#confirm_adjust_assyy').click(function () {
                $.ajax({
                    type: "POST",
                    url: "./freez_inline_stock_assy",
                    //url: "/Managements/freez_inline_stock_assy",
                    data: "",
                    datatype: "json",
                    success: function (data) {
                        swal({
                            title: "Record success!",
                            text: "You record of the information success!",
                            icon: "success",
                            button: "OK!",
                        });
                    },
                    error: function (request, status, error) {
                        swal({
                            title: "Fail Record!",
                            text: "Please check the correct of the information.!",
                            icon: "error",
                            button: "OK",
                        });
                    }
                })
            });

            $(document).on("click", "#export_snap_assy", function () {
                //var get_req_id = $(this).data('id');
                $.confirm({
                    title: 'Export Excel?',
                    content: 'This dialog will automatically trigger \'cancel\' in 6 seconds if you don\'t respond.',
                    autoClose: 'cancelAction|8000',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        deleteUser: {
                            text: 'Export from',
                            btnClass: 'btn-green',
                            action: function () {
                                $.alert('Export the from management completed! ');
                                $.ajax({
                                    type: "POST",
                                    url: "./export_excel_sanp_assy",
                                    data: "",
                                    dataType: "json",
                                    success: function (data) {
                                        var bytes = new Uint8Array(data.FileContents);
                                        var blob = new Blob([bytes], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                                        var link = document.createElement("a");
                                        link.href = window.URL.createObjectURL(blob);
                                        link.download = "Inline_stock_snap.xlsx";
                                        link.click();
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                            }
                        },
                        cancelAction: function () {
                            $.alert('Action is canceled');
                        }
                    }
                });
            });


            $('#fillter_cat_type').on('change', function () {
                var search = [];
                //$.each($('#fillter_cat_type option:selected'), function () {
                //    //var data = $(this).val();
                ////    search.push($('#fillter_cat_type option:selected').val());
                //});
                search.push($('#fillter_cat_type option:selected').val());

                //search = search.join('|');

                console.log(search);
                table.column(0).search(search, true, false).draw();
            });

        }); //END Document ready
    </script>

    <div class="modal fade" id="myModal_adjust_assy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Windows Input Adjust (ASSY)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>MATERIAL NAME</label>
                    <input type="text" class="form-control" id="matname" readonly />
                    <input type="hidden" class="form-control" id="cc" readonly />
                    <label>REMAIN INLINE</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="remain_inline" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="unit"></span>
                        </div>
                    </div>
                    <label>PROBLEME</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="problem" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="unit"></span>
                        </div>
                    </div>
                    <label>COMMENT</label>
                    <input type="text" class="form-control" id="comment" />
                    @* Hidden Value*@
                    <input type="hidden" class="form-control" id="matcode" />
                    <input type="hidden" class="form-control" id="partcode" />
                    <input type="hidden" class="form-control" id="fmat" />

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_adjust_assy">Save</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect("~/Login/Login");
}
