
@{
    ViewBag.Title = "";
}
@if (Session["GOALBAL_ID"] != null)
{
    <style>
        .table th, td {
            color: black;
            font-size: 0.70rem;
        }

        .modal-body label {
            color: black;
        }

        td.highlight_max_issue_target {
            background-color: red;
            font-weight: bold;
            color: white;
        }
        .blink-text {
            text-decoration: blink;
        }

    </style>
    <input type="hidden" value="@Session["GOALBAL_ID"].ToString()" id="temp_user" />
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom mt-3">
        <h5 class="mr-2"> Records usage (HTPS)</h5> <h4 id="dates" class="blink-text" style="color:red; font-weight:bold"></h4>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-hover table-bordered mb-0" id="table_htps_usage">
            <thead>
                <tr>
                    <th scope="col" style="background-color: royalblue; color:white;">BIZ</th>
                    <th scope="col" style="background-color: royalblue; color:white;">MATERIAL GROUP</th>
                    <th scope="col" style="background-color: royalblue; color:white;">PART CODE</th>
                    <th scope="col" style="background-color: royalblue; color:white;">MATERIAL NAME</th>
                    <th scope="col" style="background-color: yellow;">STOCK W/H</th>
                    <th scope="col" style="background-color: yellow;">ISSUE QTY</th>
                    <th scope="col" style="background-color: yellow;">ISSUE TARGET</th>
                    <th scope="col" style="background-color: yellow;">REMAIN INLINE</th>
                    <th scope="col" style="background-color: yellow;">UNIT W/H</th>
                    <th scope="col" style="background-color: orange;">REMAIN INLINE CONVERT</th>
                    <th scope="col" style="background-color: orange;">UNIT INLINE</th>
                    <th scope="col" style="background-color: royalblue; color:white;">TOOLS</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        function commaSeparateNumber(val) {
            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }
            return val;
        }
        var temp_user = $('#temp_user').val();

            $(document).ready(function () {
                $("#divError").html("").removeClass("error-msg");
                Create_table_show_htps();
                var table = $('#table_htps_usage').DataTable();
                var date_format = moment(new Date()).format('DD-MM-YYYY HH:mm:ss');
                document.getElementById("dates").innerHTML = 'ข้อมูลอัปเดต ณ วันที่ : ' + date_format;

                function Create_table_show_htps() {
                    $('#table_htps_usage').DataTable({
                        "destroy": true,
                        "searching": true,
                        "lengthChange": false,
                        "paging": false,
                        "bInfo": false,
                        "stateSave": false,
                        "scrollY": '65vh',
                        "scrollCollapse": true,
                        "lengthChange": false,
                        "ajax": {
                            "type": "POST",
                            "url": "./ajax_show_htps",
                            //"url": "/InlineStock/ajax_show_htps",
                            "datatype": "json"
                        },
                        createdRow: function (node, data) {
                            $('td', node).eq(10).addClass('testTd');
                            if (data.hasOwnProperty('ISSUE_WH')) {
                                if (data.ISSUE_WH > data.ISSUE_TARGET) {
                                    $('td', node).eq(5).addClass('highlight_max_issue_target');
                                    $('td', node).eq(6).addClass('highlight_max_issue_target');
                                }
                            }
                        },
                        order: [[ 1, "asc" ]],
                        columnDefs: [
                             {
                                 targets: [0,1,2,3,4,5,6,7,8,9,10,11], className: 'text-center'
                             },
                              {
                                  targets: [4,5,6,7,8] , render: $.fn.dataTable.render.number( ',' )
                              },
                        ],
                        "columns": [
                                  { data: "BIZ_NAME", "name": "BIZ_NAME", "autoWidth": true },
                                  { data: "MATGROUP", "name": "MATGROUP", "autoWidth": true },
                                  { data: "ITEM_NUMBER", "name": "ITEM_NUMBER", "autoWidth": true },
                                  { data: "MATNAME", "name": "MATNAME", "autoWidth": true },
                                  { data: "STOCK_WH", "name": "STOCK_WH", "autoWidth": true },
                                  { data: "ISSUE_WH", "name": "ISSUE_WH", "autoWidth": true },
                                  { data: "ISSUE_TARGET", "name": "ISSUE_TARGET", "autoWidth": true },
                                  { data: "REMAIN_INLINE_CURRENT", "name": "REMAIN_INLINE_CURRENT", "autoWidth": true },
                                  { data: "UNIT_WH", "name": "UNIT_WH", "autoWidth": true },
                                  { data: "REMAIN_INLINE", "name": "REMAIN_INLINE", "autoWidth": true },
                                  { data: "UNIT_INLINE", "name": "UNIT_INLINE", "autoWidth": true },
                                    {
                                        "render": function (data, type, Me, meta) {
                                            return '<button  type="button" class="btn btn-sm-custom btn-md btn-outline-success Edit_htps " aria-hidden="true" " data-toggle="modal" data-target="#myModal_htps" ' +
                                            'data-biz ="' + Me.BIZ_NAME + '"  data-matcode ="' + Me.MATCODE + '" data-partcode="' + Me.ITEM_NUMBER + '" data-matname = "' + Me.MATNAME + '" ' +
                                            'data-matgroup ="' + Me.MATGROUP + '"  data-fmat ="' + Me.FLAG_MAT + '" data-stockwh = "' + Me.STOCK_WH + '" data-issue ="' + Me.ISSUE_WH + '"data-issue_target ="' + Me.ISSUE_TARGET + '"   data-balance ="' + Me.ISSUE_BALANCE + '" data-usage ="' + Me.USAGE + '" ' +
                                            'data-factor_usage ="' + Me.FACTOR_USAGE + '" data-remain ="' + Me.REMAIN_INLINE + '" data-remain_current ="' + Me.REMAIN_INLINE_CURRENT + '" data-factor = "' + Me.FACTOR + '" data-upby = "' + Me.UPDATE_BY + '" data-unit_wh ="' + Me.UNIT_WH + '" data-unit_inline ="' + Me.UNIT_INLINE + '" data-flag_cal ="' + Me.FLAG_CAL + '"  data-purpose = "' + Me.PURPOSE_DETAIL + '" data-flag_usage = "' + Me.FLAG_USAGE + '">RECORD</button >';
                                        }
                                    },
                        ], // end columns
                    });
                }

                 //Edit Modal
                $(document).on("click", ".Edit_htps", function () {
                    var get_biz = $(this).data('biz');
                    var get_matcode = $(this).data('matcode');
                    var get_partcode = $(this).data('partcode');
                    var get_matname = $(this).data('matname');
                    var get_stock_wh = $(this).data('stockwh');
                    var get_issue_wh = $(this).data('issue');
                    var get_remain = $(this).data('remain');
                    var get_fmat = $(this).data('fmat');
                    var get_matgroup = $(this).data('matgroup');
                    var date_format = moment(new Date()).format('YYYY-MM-DD HH:mm:ss');
                    var get_unit_wh = $(this).data('unit_wh');
                    var get_unit_inline = $(this).data('unit_inline');
                    var get_remain_current = $(this).data('remain_current');
                    var get_flag_cal = $(this).data('flag_cal');
                    var get_flag_usage = $(this).data('flag_usage');
                    var get_factor = $(this).data('factor');
                    var get_factor_usage = $(this).data('factor_usage');

                    $(".modal-body #biz").val(get_biz);
                    $(".modal-body #matcode").val(get_matcode);
                    $(".modal-body #partcode").val(get_partcode);
                    $(".modal-body #matname").val(get_matname);
                    $(".modal-body #stockwh").val(get_stock_wh);
                    $(".modal-body #issue").val(get_issue_wh);
                    $(".modal-body #remain").val(get_remain);
                    $(".modal-body #fmat").val(get_fmat);
                    $(".modal-body #matgroup").val(get_matgroup);
                    $(".modal-body #updd").val(date_format);
                    $(".modal-body #modal_unit_wh").text(get_unit_inline);
                    $(".modal-body #modal_unit_inline").text(get_factor_usage + ' / ' + get_unit_inline);
                    $(".modal-body #modal_remain_inline_current").val(get_remain);
                    $(".modal-body #modal_remain_inline_current_static_convert").val(get_remain);
                    $(".modal-body #modal_remain_inline_current_static").val(get_remain_current);
                    $(".modal-body #modal_flag_cal").val(get_flag_cal);
                    $(".modal-body #modal_flag_usage").val(get_flag_usage);
                    $(".modal-body #modal_factor").val(get_factor);
                    $(".modal-body #modal_factor_usage").val(get_factor_usage);

                    $('#usage').keyup(function (event) {
                        var x_goalbal;
                        if ($(".modal-body #modal_flag_usage").val() == 'F') {
                            var v_factor = $(".modal-body #modal_factor").val();
                            var v_remain_inline_current_static = $(".modal-body #modal_remain_inline_current_static_convert").val();
                            var v_usage = $(".modal-body #usage").val();
                            //Phase
                            var v_factor_phase_float = parseFloat(v_factor);
                            var v_remain_inline_current_phase_float_static = parseFloat(v_remain_inline_current_static);
                            var v_usage_phase_float = parseFloat(v_usage);

                            if (isNaN(v_usage_phase_float)) {
                                x_goalbal = v_usage_phase_float = 0;
                            } else {
                                x_goalbal = v_usage_phase_float
                            }

                            var v_result = (v_remain_inline_current_phase_float_static - (x_goalbal * v_factor_phase_float));
                            $('#modal_remain_inline_current').val(v_result);
                            if (parseFloat($('#modal_remain_inline_current').val()) < 0) {
                                $('#save_data_htps').attr("disabled", true);
                            } else {
                                $('#save_data_htps').removeAttr("disabled");
                            }
                        }else {
                            var v_remain_inline_current_static = $(".modal-body #modal_remain_inline_current_static_convert").val();
                            var v_usage = $(".modal-body #usage").val();
                            //Phase
                            var v_remain_inline_current_phase_float_static = parseFloat(v_remain_inline_current_static);
                            var v_usage_phase_float = parseFloat(v_usage);

                            if (isNaN(v_usage_phase_float)) {
                                x_goalbal = v_usage_phase_float = 0;
                            } else {
                                x_goalbal = v_usage_phase_float
                            }

                            var v_result = (v_remain_inline_current_phase_float_static - x_goalbal);

                            $('#modal_remain_inline_current').val(v_result);

                            if (parseFloat($('#modal_remain_inline_current').val()) < 0) {
                                $('#save_data_htps').attr("disabled", true);
                            } else {
                                $('#save_data_htps').removeAttr("disabled");
                            }
                        }
                    });
                });

                $('#save_data_htps').click(function () {
                    var cleanNumber_stock_wh = $("#stockwh").val().split(",").join("");
                    var cleanNumber_issue_wh = $("#issue").val().split(",").join("");
                    var cleanNumber_remain_inlne = $("#remain").val().split(",").join("");
                    var edit_value = {
                        "BIZ_NAME": $("#biz").val(),
                        "MATCODE": $("#matcode").val(),
                        "ITEM_NUMBER": $("#partcode").val(),
                        "MATNAME": $("#matname").val(),
                        "MATGROUP": $("#matgroup").val(),
                        "COST_CENTER": '-',
                        "FLAG_MAT": $("#fmat").val(),
                        "STOCK_WH": cleanNumber_stock_wh,
                        "ISSUE_WH": cleanNumber_issue_wh,
                        "USAGE": $("#usage").val(),
                        "REMAIN_INLINE": cleanNumber_remain_inlne,
                        "UPDATE_BY": $("#temp_user").val(),
                        "UPDATE_DATE": $("#updd").val(),
                        "PURPOSE_DETAIL": $('#purpose').find(":selected").val()
                    }
                    console.log(edit_value);
                    $.ajax({
                        type: "POST",
                        url: "./CU",
                        //url: "/InlineStock/CU",
                        data: { edit_value: edit_value },
                        datatype: "json",
                        success: function (data) {
                            setInterval( function () {
                                scrollPos = $(".dataTables_scrollBody").scrollTop();
                                table.ajax.reload(function() {
                                    $(".dataTables_scrollBody").scrollTop(scrollPos);
                                },false);
                            }, 1000 );
                            $('#myModal_htps').modal('hide');
                            swal({
                                title: "Record success!",
                                text: "You record of the information success!",
                                icon: "success",
                                button: "OK!",
                            });
                        },
                        error: function (request, status, error) {
                            $('#usage').attr('required', true);
                            $('#myModal_htps').modal('hide');
                            $('#usage').val("");
                            swal({
                                title: "Fail Record!",
                                text: "Please check the correct of the information.!",
                                icon: "error",
                                button: "OK",
                            });
                        }
                    })
                });

                $("#myModal_htps").on('shown.bs.modal', function(){
                    $(this).find('#usage').focus();
                    $('#usage').val("");
                });

            }); @*End Document ready*@
    </script>

    <div class="modal fade" id="myModal_htps" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Windows Input</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Material Name</label>
                    <input type="text" class="form-control" id="matname" readonly />
                    <label class="mt-2">Stock W/H</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="stockwh" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text" id="modal_unit_wh"></span>
                        </div>
                    </div>
                    <label class="mt-2">Issue W/H</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="issue" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text" id="modal_unit_wh"></span>
                        </div>
                    </div>
                    <label class="mt-2">Reamin Inline</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="modal_remain_inline_current" disabled />
                        <input type="hidden" class="form-control" id="modal_remain_inline_current_static_convert" />
                        <input type="hidden" class="form-control" id="modal_remain_inline_current_static" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="modal_unit_wh"></span>
                        </div>
                    </div>
                    <label class="mt-2">Quantity (Usage)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" onkeypress="return isNumberKey(event)" id="usage" required />
                        <div class="input-group-append">
                            <span class="input-group-text" id="modal_unit_inline"></span>
                        </div>
                    </div>
                    <div id="divError"></div>
                    <label class="mt-2">Purpose</label>
                    <select class="custom-select" id="purpose">
                        <option value="USAGE" selected>USAGE</option>
                        <option value="REQUEST">ENG REQUEST</option>
                    </select>

                    @* Hidden Value*@
                    <input type="hidden" class="form-control" id="biz" />
                    <input type="hidden" class="form-control" id="matcode" />
                    <input type="hidden" class="form-control" id="partcode" />
                    <input type="hidden" class="form-control" id="matgroup" />
                    <input type="hidden" class="form-control" id="remain" />
                    <input type="hidden" class="form-control" id="issue" />
                    <input type="hidden" class="form-control" id="fmat" />
                    <input type="hidden" class="form-control" id="updd" />
                    <input type="hidden" class="form-control" id="modal_flag_cal" />
                    <input type="hidden" class="form-control" id="modal_flag_usage" />
                    <input type="hidden" class="form-control" id="modal_factor" />
                    <input type="hidden" class="form-control" id="modal_factor_usage" />

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_data_htps">Save</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect("~/Login/Login");
}